
nml24_assignment1-p1&2.ipynb
nml24_assignment1-p1&2.ipynb
MUTAG/MUTAG_A.txt
MUTAG/MUTAG_edge_labels.txt
MUTAG/MUTAG_graph_indicator.txt
MUTAG/MUTAG_graph_labels.txt
MUTAG/MUTAG_node_labels.txt
MUTAG/README.txt
nml24_assignment1-p1&2.ipynb
nml24_assignment1_unmodified.ipynb
